---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16LmOyKpQyEhIGsinSVwMGQg&description=Sign%20up%20charge%20for%20john%40example.com.
    headers:
      Authorization:
      - Bearer sk_test_WvHVe4zkGEUgzLLAJzXdlR0C
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16LmOyKpQyEhIGsiV33f5PZJ"
          }
        }
  recorded_at: Tue, 07 Jul 2015 03:06:20 GMT
recorded_with: VCR 2.9.3
