---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16Mkr2KpQyEhIGsiLTE5hnsf&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_WvHVe4zkGEUgzLLAJzXdlR0C
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436470724,
          "id": "cus_6Zug3XcdQos224",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Zug3XcdQos224/subscriptions",
            "data": [
              {
                "id": "sub_6ZugYxWXsoVby8",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1436457527,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "myflix"
                },
                "object": "subscription",
                "start": 1436470724,
                "status": "active",
                "customer": "cus_6Zug3XcdQos224",
                "cancel_at_period_end": false,
                "current_period_start": 1436470724,
                "current_period_end": 1439149124,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Zug3XcdQos224/sources",
            "data": [
              {
                "id": "card_16Mkr2KpQyEhIGsizVOsqb0U",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "HBBO0JBqFDkh0W8t",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Zug3XcdQos224"
              }
            ]
          },
          "default_source": "card_16Mkr2KpQyEhIGsizVOsqb0U"
        }
  recorded_at: Thu, 09 Jul 2015 19:39:32 GMT
recorded_with: VCR 2.9.3
