---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16NUyCKpQyEhIGsiKDBkmRDf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WvHVe4zkGEUgzLLAJzXdlR0C
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16NUyCKpQyEhIGsiKDBkmRDf",
          "created": 1436647992,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16NUyCKpQyEhIGsiajQi2kWW",
              "object": "charge",
              "created": 1436647992,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16NUyBKpQyEhIGsi4eOrrKJh",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "HBBO0JBqFDkh0W8t",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6agKepo4dELsUF"
              },
              "captured": true,
              "balance_transaction": "txn_16NUyCKpQyEhIGsiHdXHvuAr",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6agKepo4dELsUF",
              "invoice": "in_16NUyCKpQyEhIGsifTo22SkA",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "myflix",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16NUyCKpQyEhIGsiajQi2kWW/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6agK2ZbN4OyNiJ",
          "api_version": "2015-06-15"
        }
  recorded_at: Sun, 12 Jul 2015 00:49:53 GMT
recorded_with: VCR 2.9.3
