---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=1231241&description=Sign%20up%20charge%20for%20dan%40reichel.name.
    headers:
      Authorization:
      - Bearer sk_test_WvHVe4zkGEUgzLLAJzXdlR0C
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such token: 1231241",
            "param": "card"
          }
        }
  recorded_at: Wed, 08 Jul 2015 13:54:34 GMT
recorded_with: VCR 2.9.3
