---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_WvHVe4zkGEUgzLLAJzXdlR0C
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16NVzBKpQyEhIGsiiB2x3kd8",
          "livemode": false,
          "created": 1436651897,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16NVzBKpQyEhIGsibrATd2NK",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "HBBO0JBqFDkh0W8t",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "32.212.31.128"
        }
  recorded_at: Sat, 11 Jul 2015 21:59:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16NVzBKpQyEhIGsiiB2x3kd8&email=trudie_schmitt%40langosh.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_WvHVe4zkGEUgzLLAJzXdlR0C
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436651897,
          "id": "cus_6ahNmhVgNiltdO",
          "livemode": false,
          "description": null,
          "email": "trudie_schmitt@langosh.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6ahNmhVgNiltdO/subscriptions",
            "data": [
              {
                "id": "sub_6ahNmfVnwwk13D",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1436457527,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "myflix"
                },
                "object": "subscription",
                "start": 1436651897,
                "status": "active",
                "customer": "cus_6ahNmhVgNiltdO",
                "cancel_at_period_end": false,
                "current_period_start": 1436651897,
                "current_period_end": 1439330297,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6ahNmhVgNiltdO/sources",
            "data": [
              {
                "id": "card_16NVzBKpQyEhIGsibrATd2NK",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "HBBO0JBqFDkh0W8t",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6ahNmhVgNiltdO"
              }
            ]
          },
          "default_source": "card_16NVzBKpQyEhIGsibrATd2NK"
        }
  recorded_at: Sat, 11 Jul 2015 21:59:14 GMT
recorded_with: VCR 2.9.3
